automation/nightly-product-discovery.json
{
  "name": "Nightly Product Discovery",
  "nodes": [
    {
      "id": "01-schedule",
      "name": "Schedule — Nightly 3am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "02-define-searches",
      "name": "Define Discovery Searches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const searches = [\n  { subreddit: 'buildapcsales', query: 'monitor' },\n  { subreddit: 'buildapcsales', query: 'keyboard' },\n  { subreddit: 'buildapcsales', query: 'mouse' },\n  { subreddit: 'buildapcsales', query: 'headphones' },\n  { subreddit: 'buildapcsales', query: 'webcam' },\n  { subreddit: 'MechanicalKeyboards', query: 'recommend' },\n  { subreddit: 'BudgetAudiophile', query: 'recommend' },\n  { subreddit: 'Monitors', query: 'recommend' },\n  { subreddit: 'homeoffice', query: 'recommend' },\n  { subreddit: 'smarthome', query: 'recommend' },\n  { subreddit: 'pcmasterrace', query: 'peripherals' },\n  { subreddit: 'hometheater', query: 'recommend' }\n];\nreturn searches.map(s => ({ json: s }));"
      }
    },
    {
      "id": "03-reddit-search",
      "name": "Search Reddit (Arctic Shift)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        440,
        0
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "https://arctic-shift.photon-reddit.com/api/posts/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "subreddit",
              "value": "={{ $json.subreddit }}"
            },
            {
              "name": "limit",
              "value": "15"
            },
            {
              "name": "after",
              "value": "={{ Math.floor(Date.now()/1000) - (30*24*3600) }}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "id": "04-filter-posts",
      "name": "Filter High-Quality Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "jsCode": "const out = [];\nconst inputs = $input.all();\nconst nowUtc = Math.floor(Date.now() / 1000);\nconst cutoff = nowUtc - (30 * 24 * 3600);\n\nfor (let i = 0; i < inputs.length; i++) {\n  let meta = {};\n  try { meta = $('Define Discovery Searches').itemMatching(i).json; } catch (e) {}\n  const posts = inputs[i].json?.data || [];\n  const filtered = posts.filter(p => p && (p.score || 0) >= 5 && p.created_utc > cutoff).slice(0, 5);\n  for (const p of filtered) {\n    out.push({ json: {\n      subreddit: p.subreddit || meta.subreddit,\n      postId: p.id || p.name,\n      title: p.title || '',\n      body: (p.selftext || '').substring(0, 500),\n      score: p.score || 0,\n      numComments: p.num_comments || 0,\n      url: 'https://reddit.com' + (p.permalink || ''),\n      createdUtc: p.created_utc || nowUtc,\n      searchCategory: meta.subreddit\n    }});\n  }\n}\nreturn out;",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "05-extract-products",
      "name": "Extract Product Names (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        0
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama3.2:3b', stream: false, prompt: 'Extract all specific tech product names mentioned in this Reddit post. Return ONLY a valid JSON array of strings. If none found, return []. Do not include generic terms like keyboard or monitor - only specific named products like Logitech MX Keys, Samsung Odyssey G5, Sony WH-1000XM5.\\n\\nTitle: ' + ($json.title || '') + '\\nBody: ' + ($json.body || '') + '\\n\\nReturn only the JSON array, nothing else.' }) }}",
        "options": {
          "timeout": 120000
        },
        "method": "POST"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "id": "06-parse-products",
      "name": "Parse Extracted Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "jsCode": "const out = [];\nconst inputs = $input.all();\nconst SKIP = ['keyboard','mouse','monitor','headset','webcam','headphones','earbuds','speaker','hub','charger','desk','chair'];\n\nfor (let i = 0; i < inputs.length; i++) {\n  let post = {};\n  try { post = $('Filter High-Quality Posts').itemMatching(i).json; } catch (e) { continue; }\n  const rawText = (inputs[i].json?.response || '').trim();\n  let products = [];\n  try {\n    const match = rawText.match(/\\[.*\\]/s);\n    if (match) products = JSON.parse(match[0]);\n    if (!Array.isArray(products)) products = [];\n  } catch (e) { products = []; }\n\n  products = products.filter(p =>\n    typeof p === 'string' && p.length > 5 && p.length < 80 && !SKIP.includes(p.toLowerCase().trim()));\n\n  for (const productName of products) {\n    out.push({ json: {\n      productName: productName.trim(),\n      sourceUrl: post.url,\n      subreddit: post.subreddit,\n      postTitle: post.title,\n      postScore: post.score,\n      postComments: post.numComments,\n      addedAt: new Date().toISOString(),\n      status: 'pending'\n    }});\n  }\n}\nreturn out;",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "07-get-candidates-sha",
      "name": "Get Candidates JSON SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        0
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/nc262/budgettechpicks/contents/scripts/product-candidates.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi"
      },
      "credentials": {
        "githubApi": {
          "id": "JixM5IplKjCgdpw3",
          "name": "GitHub account"
        }
      }
    },
    {
      "id": "08-merge-candidates",
      "name": "Merge & Deduplicate Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get SHA and existing candidates from GitHub response\nconst githubResp = $('Get Candidates JSON SHA').first().json;\nconst sha = githubResp?.sha || null;\n\nlet existing = [];\ntry {\n  if (githubResp?.content) {\n    const decoded = Buffer.from(githubResp.content, 'base64').toString('utf-8');\n    const parsed = JSON.parse(decoded);\n    existing = parsed.candidates || [];\n  }\n} catch(e) { existing = []; }\n\n// Collect all new candidates from this run\nconst newCandidates = $input.all()\n  .map(i => i.json)\n  .filter(c => c.productName && c.sourceUrl);\n\n// Deduplicate: keep existing + add new ones not already present\nconst existingNames = new Set(existing.map(c => c.productName.toLowerCase().trim()));\nconst toAdd = newCandidates.filter(c => !existingNames.has(c.productName.toLowerCase().trim()));\n\n// Prune: remove candidates older than 30 days, keep last 200\nconst thirtyDaysAgo = Date.now() - (30 * 24 * 3600 * 1000);\nconst pruned = existing.filter(c => {\n  const ts = c.addedAt ? new Date(c.addedAt).getTime() : 0;\n  return ts > thirtyDaysAgo || c.status !== 'pending';\n});\n\nconst allCandidates = [...pruned, ...toAdd].slice(-200);\n\nconst output = {\n  lastUpdated: new Date().toISOString(),\n  totalCandidates: allCandidates.length,\n  pendingReview: allCandidates.filter(c => c.status === 'pending').length,\n  candidates: allCandidates\n};\n\nconst base64Content = Buffer.from(JSON.stringify(output, null, 2)).toString('base64');\nreturn [{ json: { sha, base64Content, newCount: toAdd.length, totalCount: allCandidates.length } }];"
      }
    },
    {
      "id": "09-commit-candidates",
      "name": "Commit Candidates JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        0
      ],
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/nc262/budgettechpicks/contents/scripts/product-candidates.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=chore: product discovery — {{ $json.newCount }} new candidates found [automated]"
            },
            {
              "name": "content",
              "value": "={{ $json.base64Content }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha || undefined }}"
            },
            {
              "name": "branch",
              "value": "master"
            }
          ]
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi"
      },
      "credentials": {
        "githubApi": {
          "id": "JixM5IplKjCgdpw3",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Schedule — Nightly 3am": {
      "main": [
        [
          {
            "node": "Define Discovery Searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Discovery Searches": {
      "main": [
        [
          {
            "node": "Search Reddit (Arctic Shift)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Reddit (Arctic Shift)": {
      "main": [
        [
          {
            "node": "Filter High-Quality Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter High-Quality Posts": {
      "main": [
        [
          {
            "node": "Extract Product Names (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Product Names (Ollama)": {
      "main": [
        [
          {
            "node": "Parse Extracted Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Extracted Products": {
      "main": [
        [
          {
            "node": "Get Candidates JSON SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Candidates JSON SHA": {
      "main": [
        [
          {
            "node": "Merge & Deduplicate Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Deduplicate Candidates": {
      "main": [
        [
          {
            "node": "Commit Candidates JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}