automation/nightly-product-discovery.json
{
  "name": "Nightly Product Discovery",
  "nodes": [
    {
      "id": "01-schedule",
      "name": "Schedule — Nightly 3am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "02-run-pipeline",
      "name": "Run Discovery Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:7799/run/discovery",
        "options": {
          "timeout": 960000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "03-log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "jsCode": "const out = $input.first().json;\nconst stdout = out.stdout || '';\nconst published = (stdout.match(/PUBLISHED (\\d+) product/) || [])[1] || '0';\nconst failed = !!out.error || (out.code !== 0 && out.code !== undefined);\nconsole.log('[discovery] published=' + published + ' code=' + out.code + ' ' + (out.seconds || '?') + 's');\nreturn [{ json: { published: Number(published), code: out.code, seconds: out.seconds, failed, tail: stdout.split('\\n').slice(-12).join('\\n') } }];"
      }
    }
  ],
  "connections": {
    "Schedule — Nightly 3am": {
      "main": [
        [
          {
            "node": "Run Discovery Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Discovery Pipeline": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}