automation/pinterest-create-category-boards-one-time-setup.json
{
  "name": "Pinterest — Create Category Boards (One-Time Setup)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://totaltechpicks.com/products-for-pinterest.json",
        "options": {}
      },
      "id": "fetch-products",
      "name": "Fetch Products JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "boards",
        "options": {}
      },
      "id": "split-boards",
      "name": "Split Boards",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pinterest.com/v5/boards",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "privacy",
              "value": "PUBLIC"
            }
          ]
        },
        "options": {}
      },
      "id": "create-board",
      "name": "Create Pinterest Board",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hdU8usLXg15qJvst",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "={{ 'Board created: ' + $json.name + ' (ID: ' + $json.id + ')' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "log-result",
      "name": "Log Board ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Products JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Products JSON": {
      "main": [
        [
          {
            "node": "Split Boards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Boards": {
      "main": [
        [
          {
            "node": "Create Pinterest Board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Pinterest Board": {
      "main": [
        [
          {
            "node": "Log Board ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}