automation/reddit-lead-finder.json
{
  "updatedAt": "2026-06-03T00:19:16.804Z",
  "createdAt": "2026-06-01T14:38:59.809Z",
  "id": "bKe96bOw97L3zmnI",
  "name": "Reddit Lead Finder",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "schedule-node",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const subreddits = [\n  { sub: 'Monitors', queries: ['monitor recommendation', 'best monitor under'] },\n  { sub: 'MechanicalKeyboards', queries: ['keyboard recommendation', 'best keyboard under'] },\n  { sub: 'buildapc', queries: ['monitor recommendation under', 'best mouse under'] },\n  { sub: 'HomeOffice', queries: ['best webcam for work', 'standing desk recommendation'] },\n];\nconst tasks = [];\nfor (const { sub, queries } of subreddits) {\n  for (const q of queries) tasks.push({ subreddit: sub, query: q });\n}\nreturn tasks.map(t => ({ json: t }));"
      },
      "id": "build-tasks",
      "name": "Build Search Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://arctic-shift.photon-reddit.com/api/posts/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "subreddit",
              "value": "={{ $json.subreddit }}"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "after",
              "value": "={{ Math.floor(Date.now()/1000) - (72*3600) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "reddit-search",
      "name": "Search Reddit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const posts = [];\nconst subreddit = $('Build Search Tasks').item.json.subreddit;\n\ntry {\n  const data = $input.item.json;\n  // Arctic Shift returns { data: [...] } — direct array, no .children wrapper\n  const items = data?.data || [];\n  const nowUtc = Math.floor(Date.now() / 1000);\n  const cutoff = nowUtc - (48 * 3600);\n\n  for (const p of items) {\n    if (!p) continue;\n    const title = (p.title || '').toLowerCase();\n    const isQuestion = title.includes('?') || title.includes('recommend') || title.includes('looking for') || title.includes('best ') || title.includes('help') || title.includes('which') || title.includes('should i') || title.includes('suggest');\n    if (!isQuestion) continue;\n    if (p.created_utc < cutoff) continue;\n    if (p.score < 0) continue;\n\n    posts.push({\n      id: p.id || p.name,\n      subreddit: p.subreddit || subreddit,\n      title: p.title || '',\n      url: 'https://reddit.com' + (p.permalink || ''),\n      body: (p.selftext || '').substring(0, 300),\n      score: p.score || 0,\n      num_comments: p.num_comments || 0,\n      created_utc: p.created_utc || nowUtc\n    });\n  }\n} catch(e) {}\n\nif (posts.length === 0) return [];\nreturn posts.map(p => ({ json: p }));"
      },
      "id": "filter-posts",
      "name": "Filter Questions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"llama3.2:3b\",\n  prompt: \"You are writing a helpful Reddit comment for TotalTechPicks, a no-nonsense tech gear recommendation site (slogan: Less Hype. More Hardware.). Write a genuinely helpful reply to this Reddit post. Be conversational, specific, and helpful. Mention 1-2 relevant products if appropriate. DO NOT be salesy. DO NOT mention the website unless it naturally fits. Keep it under 150 words.\\n\\nSubreddit: r/\" + $json.subreddit + \"\\nPost title: \" + $json.title + \"\\nPost body: \" + ($json.body || \"\").substring(0, 500) + \"\\n\\nWrite only the reply text, nothing else.\",\n  stream: false\n}) }}",
        "options": {},
        "method": "POST"
      },
      "id": "ollama-draft",
      "name": "Draft Reply (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const post = $('Filter Questions').item.json;\nconst ollamaResp = $input.item.json;\nconst reply = ollamaResp?.response || '';\n\nreturn [{\n  json: {\n    ...post,\n    suggested_reply: reply.trim()\n  }\n}];"
      },
      "id": "merge-reply",
      "name": "Merge Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/api/ingest",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify([$json]) }}",
        "options": {}
      },
      "id": "save-lead",
      "name": "Save Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        300
      ]
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [
        [
          {
            "node": "Build Search Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Search Tasks": {
      "main": [
        [
          {
            "node": "Search Reddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Reddit": {
      "main": [
        [
          {
            "node": "Filter Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Questions": {
      "main": [
        [
          {
            "node": "Draft Reply (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Reply (Ollama)": {
      "main": [
        [
          {
            "node": "Merge Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Reply": {
      "main": [
        [
          {
            "node": "Save Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every 2 Hours": {
      "recurrenceRules": [
        18
      ]
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "a173a310-67db-485a-a561-1f085979cada",
  "activeVersionId": "a173a310-67db-485a-a561-1f085979cada",
  "versionCounter": 10,
  "triggerCount": 1,
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-03T00:19:16.804Z",
    "createdAt": "2026-06-03T00:19:16.804Z",
    "versionId": "a173a310-67db-485a-a561-1f085979cada",
    "workflowId": "bKe96bOw97L3zmnI",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 2
              }
            ]
          }
        },
        "id": "schedule-node",
        "name": "Every 2 Hours",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const subreddits = [\n  { sub: 'Monitors', queries: ['monitor recommendation', 'best monitor under'] },\n  { sub: 'MechanicalKeyboards', queries: ['keyboard recommendation', 'best keyboard under'] },\n  { sub: 'buildapc', queries: ['monitor recommendation under', 'best mouse under'] },\n  { sub: 'HomeOffice', queries: ['best webcam for work', 'standing desk recommendation'] },\n];\nconst tasks = [];\nfor (const { sub, queries } of subreddits) {\n  for (const q of queries) tasks.push({ subreddit: sub, query: q });\n}\nreturn tasks.map(t => ({ json: t }));"
        },
        "id": "build-tasks",
        "name": "Build Search Tasks",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://arctic-shift.photon-reddit.com/api/posts/search",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "query",
                "value": "={{ $json.query }}"
              },
              {
                "name": "subreddit",
                "value": "={{ $json.subreddit }}"
              },
              {
                "name": "limit",
                "value": "10"
              },
              {
                "name": "after",
                "value": "={{ Math.floor(Date.now()/1000) - (72*3600) }}"
              }
            ]
          },
          "options": {}
        },
        "id": "reddit-search",
        "name": "Search Reddit",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          680,
          300
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const posts = [];\nconst subreddit = $('Build Search Tasks').item.json.subreddit;\n\ntry {\n  const data = $input.item.json;\n  // Arctic Shift returns { data: [...] } — direct array, no .children wrapper\n  const items = data?.data || [];\n  const nowUtc = Math.floor(Date.now() / 1000);\n  const cutoff = nowUtc - (48 * 3600);\n\n  for (const p of items) {\n    if (!p) continue;\n    const title = (p.title || '').toLowerCase();\n    const isQuestion = title.includes('?') || title.includes('recommend') || title.includes('looking for') || title.includes('best ') || title.includes('help') || title.includes('which') || title.includes('should i') || title.includes('suggest');\n    if (!isQuestion) continue;\n    if (p.created_utc < cutoff) continue;\n    if (p.score < 0) continue;\n\n    posts.push({\n      id: p.id || p.name,\n      subreddit: p.subreddit || subreddit,\n      title: p.title || '',\n      url: 'https://reddit.com' + (p.permalink || ''),\n      body: (p.selftext || '').substring(0, 300),\n      score: p.score || 0,\n      num_comments: p.num_comments || 0,\n      created_utc: p.created_utc || nowUtc\n    });\n  }\n} catch(e) {}\n\nif (posts.length === 0) return [];\nreturn posts.map(p => ({ json: p }));"
        },
        "id": "filter-posts",
        "name": "Filter Questions",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          900,
          300
        ]
      },
      {
        "parameters": {
          "url": "http://localhost:11434/api/generate",
          "sendBody": true,
          "bodyParameters": {
            "parameters": []
          },
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  model: \"llama3.2:3b\",\n  prompt: \"You are writing a helpful Reddit comment for TotalTechPicks, a no-nonsense tech gear recommendation site (slogan: Less Hype. More Hardware.). Write a genuinely helpful reply to this Reddit post. Be conversational, specific, and helpful. Mention 1-2 relevant products if appropriate. DO NOT be salesy. DO NOT mention the website unless it naturally fits. Keep it under 150 words.\\n\\nSubreddit: r/\" + $json.subreddit + \"\\nPost title: \" + $json.title + \"\\nPost body: \" + ($json.body || \"\").substring(0, 500) + \"\\n\\nWrite only the reply text, nothing else.\",\n  stream: false\n}) }}",
          "options": {},
          "method": "POST"
        },
        "id": "ollama-draft",
        "name": "Draft Reply (Ollama)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1120,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const post = $('Filter Questions').item.json;\nconst ollamaResp = $input.item.json;\nconst reply = ollamaResp?.response || '';\n\nreturn [{\n  json: {\n    ...post,\n    suggested_reply: reply.trim()\n  }\n}];"
        },
        "id": "merge-reply",
        "name": "Merge Reply",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1340,
          300
        ]
      },
      {
        "parameters": {
          "url": "http://localhost:3001/api/ingest",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify([$json]) }}",
          "options": {}
        },
        "id": "save-lead",
        "name": "Save Lead",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1560,
          300
        ]
      }
    ],
    "connections": {
      "Every 2 Hours": {
        "main": [
          [
            {
              "node": "Build Search Tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Search Tasks": {
        "main": [
          [
            {
              "node": "Search Reddit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Reddit": {
        "main": [
          [
            {
              "node": "Filter Questions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Questions": {
        "main": [
          [
            {
              "node": "Draft Reply (Ollama)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Draft Reply (Ollama)": {
        "main": [
          [
            {
              "node": "Merge Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Reply": {
        "main": [
          [
            {
              "node": "Save Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Nathan Ceniceros",
    "name": null,
    "description": null,
    "autosaved": false
  }
}