automation/reddit-insights-totaltechpicks.json
{
  "name": "Reddit Insights - TotalTechPicks",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "id": "ee7d62e8-4e96-43de-b837-ad8113aebdd7",
      "name": "Every 8 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -3088,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// name = EXACT product name from src/data/products.ts (the site matches insights by name)\n// query = short search term for better Reddit recall\nconst PRODUCTS = [\n  { slug: 'best-usb-c-hubs-under-50',      name: 'Anker 7-in-1 USB-C Hub',                          query: 'Anker USB-C hub',      subreddit: 'buildapc' },\n  { slug: 'best-usb-c-hubs-under-50',      name: 'UGREEN 9-in-1 USB-C Hub',                         query: 'UGREEN hub',           subreddit: 'buildapc' },\n  { slug: 'best-budget-webcams',           name: 'Logitech C920s HD Pro Webcam',                    query: 'Logitech C920',        subreddit: 'Twitch' },\n  { slug: 'best-budget-webcams',           name: 'Logitech Brio 4K Ultra HD Webcam',                query: 'Logitech Brio',        subreddit: 'Twitch' },\n  { slug: 'best-wireless-earbuds-under-50', name: 'Sony WF-1000XM5 — Best ANC Earbuds',             query: 'Sony WF-1000XM5',      subreddit: 'headphones' },\n  { slug: 'best-wireless-earbuds-under-50', name: 'TOZO T6 True Wireless Earbuds',                  query: 'TOZO T6',              subreddit: 'headphones' },\n  { slug: 'best-desk-accessories-under-50', name: 'Ergotron LX Desk Monitor Arm',                   query: 'Ergotron LX',          subreddit: 'battlestations' },\n  { slug: 'best-desk-accessories-under-50', name: 'BenQ ScreenBar Monitor Light',                   query: 'BenQ ScreenBar',       subreddit: 'battlestations' },\n  { slug: 'best-desk-accessories-under-50', name: 'Logitech MX Master 3S Wireless Mouse',           query: 'MX Master 3S',         subreddit: 'homeoffice' },\n  { slug: 'best-gaming-gear-under-50',     name: 'Logitech G305 LIGHTSPEED Wireless Gaming Mouse',  query: 'Logitech G305',        subreddit: 'buildapc' },\n  { slug: 'best-gaming-gear-under-50',     name: 'Razer Basilisk V3 Gaming Mouse',                  query: 'Razer Basilisk V3',    subreddit: 'buildapc' },\n  { slug: 'best-gaming-gear-under-50',     name: 'HyperX Cloud Stinger Gaming Headset',             query: 'HyperX Cloud Stinger', subreddit: 'buildapc' },\n  { slug: 'best-desk-toys-under-50',       name: 'Divoom Ditoo Retro Pixel Art Bluetooth Speaker',  query: 'Divoom Ditoo',         subreddit: 'battlestations' },\n  { slug: 'best-desk-toys-under-50',       name: 'Nanoleaf Shapes Triangles Starter Kit (9pk)',     query: 'Nanoleaf Shapes',      subreddit: 'battlestations' },\n  { slug: 'best-smart-home-under-50',      name: 'Amazon Echo Dot (5th Gen)',                       query: 'Echo Dot',             subreddit: 'homeautomation' },\n  { slug: 'best-smart-home-under-50',      name: 'Philips Hue White & Color Starter Kit',           query: 'Philips Hue',          subreddit: 'homeautomation' },\n  { slug: 'best-portable-tech-under-50',   name: 'Anker PowerCore 10000 Power Bank',                query: 'Anker PowerCore',      subreddit: 'gadgets' },\n  { slug: 'best-portable-tech-under-50',   name: 'Apple AirTag (4-Pack)',                           query: 'AirTag',               subreddit: 'apple' },\n  { slug: 'best-monitors-and-displays',    name: 'Samsung Odyssey G5 27\" 165Hz Curved',             query: 'Odyssey G5',           subreddit: 'Monitors' },\n  { slug: 'best-monitors-and-displays',    name: 'Alienware AW3423DWF 34\" QD-OLED',                 query: 'AW3423DWF',            subreddit: 'Monitors' },\n  { slug: 'best-streaming-gear',           name: 'Blue Yeti USB Microphone',                        query: 'Blue Yeti',            subreddit: 'Twitch' },\n  { slug: 'best-streaming-gear',           name: 'Elgato Stream Deck MK.2',                         query: 'Stream Deck',          subreddit: 'Twitch' },\n  { slug: 'best-streaming-gear',           name: 'Shure SM7B Broadcast Microphone',                 query: 'Shure SM7B',           subreddit: 'audioengineering' },\n  { slug: 'best-audio-gear',               name: 'Audio-Technica ATH-M50x Studio Headphones',       query: 'ATH-M50x',             subreddit: 'headphones' },\n  { slug: 'best-audio-gear',               name: 'Sony WH-1000XM5 Wireless ANC Headphones',         query: 'WH-1000XM5',           subreddit: 'headphones' },\n  { slug: 'best-gaming-setups',            name: 'Secretlab Titan Evo 2022 Gaming Chair',           query: 'Secretlab Titan',      subreddit: 'battlestations' },\n  { slug: 'best-gaming-setups',            name: 'Steam Deck OLED 512GB',                           query: 'Steam Deck OLED',      subreddit: 'SteamDeck' },\n];\n\nreturn PRODUCTS.map(p => ({ json: { productName: p.name, productSlug: p.slug, subreddit: p.subreddit, query: p.query } }));"
      },
      "id": "82084344-4e94-4d5e-9951-416f02f01c83",
      "name": "Product Keyword List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2864,
        192
      ]
    },
    {
      "parameters": {
        "url": "https://arctic-shift.photon-reddit.com/api/posts/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "limit",
              "value": "5"
            },
            {
              "name": "sort",
              "value": "desc"
            },
            {
              "name": "after",
              "value": "2024-01-01"
            },
            {
              "name": "subreddit",
              "value": "={{ $json.subreddit }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2500
            }
          },
          "timeout": 30000
        }
      },
      "id": "dd65dc33-0b1d-4862-b7b4-da7ee7fce770",
      "name": "Reddit Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2640,
        192
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nconst inputs = $input.all();\nconst sixMonthsAgo = Date.now() / 1000 - (6 * 30 * 24 * 3600);\n\nfor (let i = 0; i < inputs.length; i++) {\n  let ctx = {};\n  try { ctx = $('Product Keyword List').itemMatching(i).json; } catch (e) {}\n  const posts = inputs[i].json?.data ?? [];\n  const filtered = posts\n    .filter(p => p && (p.num_comments || 0) >= 3 && p.created_utc >= sixMonthsAgo && (p.score || 0) >= 1)\n    .slice(0, 2);\n  for (const p of filtered) {\n    out.push({ json: {\n      productName: ctx.productName,\n      productSlug: ctx.productSlug,\n      postId: p.id,\n      postTitle: p.title,\n      postScore: p.score,\n      numComments: p.num_comments,\n      subreddit: p.subreddit,\n      permalink: 'https://www.reddit.com' + p.permalink\n    }});\n  }\n}\nreturn out;",
        "mode": "runOnceForAllItems"
      },
      "id": "d58585aa-dc4d-4edd-bbaf-37f243aac9ef",
      "name": "Filter Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2416,
        192
      ]
    },
    {
      "parameters": {
        "url": "=https://arctic-shift.photon-reddit.com/api/comments/search?link_id={{ $json.postId }}&limit=25",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "TotalTechPicks/1.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2500
            }
          }
        }
      },
      "id": "aaadd5ba-b259-4334-b74a-edff03e7a132",
      "name": "Fetch Comments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1984,
        80
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.ollamaPayload }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "e3ea2f66-b08b-470a-929c-e087fd604cd6",
      "name": "Ollama Extract Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1536,
        80
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Extract Comments').item.json;\nconst raw = $input.item.json;\n\n// Response may arrive as text in .data or already-parsed object — handle both\nlet outer = null;\nif (typeof raw.data === 'string') { try { outer = JSON.parse(raw.data); } catch (e) {} }\nif (!outer && typeof raw.response !== 'undefined') outer = raw;\nconst responseStr = (outer && typeof outer.response === 'string') ? outer.response : '';\n\nlet parsed = {};\ntry {\n  const match = responseStr.match(/\\{[\\s\\S]*\\}/);\n  if (match) parsed = JSON.parse(match[0]);\n} catch (e) {}\n\nconst hasRealComments = (ctx.commentCount || 0) > 0;\nconst relevant = (typeof parsed.relevant === 'boolean') ? parsed.relevant : true;\n\nreturn { json: {\n  product: ctx.productName || 'Product',\n  productSlug: ctx.productSlug || '',\n  summary: (typeof parsed.summary === 'string' && parsed.summary.length > 10)\n    ? parsed.summary\n    : ('Discussed in r/' + (ctx.subreddit || 'tech') + ' — ' + (ctx.numComments || 0) + ' comments on this thread.'),\n  pros: (Array.isArray(parsed.pros) ? parsed.pros.filter(p => typeof p === 'string' && p.length > 2).slice(0, 4) : []),\n  cons: (Array.isArray(parsed.cons) ? parsed.cons.filter(c => typeof c === 'string' && c.length > 2).slice(0, 3) : []),\n  sentiment: (['positive', 'neutral', 'negative'].includes(parsed.sentiment) ? parsed.sentiment : 'neutral'),\n  key_insights: (Array.isArray(parsed.key_insights) ? parsed.key_insights.filter(k => typeof k === 'string').slice(0, 3) : []),\n  recommended_by_users: (typeof parsed.recommended_by_users === 'boolean' ? parsed.recommended_by_users : false),\n  commentCount: ctx.commentCount || 0,\n  relevant,\n  hasRealComments,\n  sourcePost: ctx.postTitle || '',\n  sourceUrl: ctx.permalink || '',\n  scrapedAt: new Date().toISOString()\n}};",
        "mode": "runOnceForEachItem"
      },
      "id": "1cbdd7b7-f564-4585-b08b-4cc0292cc199",
      "name": "Parse Insights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        80
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "allInsights",
        "options": {}
      },
      "id": "30f4f48d-598f-4cf0-9fa8-c88e8c339218",
      "name": "Collect All Insights",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1104,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const newInsights = ($input.first().json.allInsights || [])\n  .filter(ins => ins.hasRealComments && ins.relevant !== false);\n\nconst byProduct = {};\nfor (const ins of newInsights) {\n  const k = (ins.productSlug || '') + '::' + (ins.product || '');\n  if (!byProduct[k] || (ins.commentCount || 0) > (byProduct[k].commentCount || 0)) byProduct[k] = ins;\n}\n\nconst bySlug = {};\nfor (const ins of Object.values(byProduct)) {\n  const slug = ins.productSlug;\n  if (!slug) continue;\n  if (!bySlug[slug]) bySlug[slug] = [];\n  bySlug[slug].push(ins);\n}\n\nconst result = {};\nfor (const [slug, insights] of Object.entries(bySlug)) {\n  result[slug] = { lastUpdated: new Date().toISOString(), insights: insights.slice(0, 5) };\n}\n\nreturn [{ json: { redditInsights: result } }];"
      },
      "id": "b5b8c74b-e429-4fe0-88db-412bd268b5a3",
      "name": "Merge by Product",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        80
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/nc262/budgettechpicks/contents/src/data/reddit-insights.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi"
      },
      "id": "1aec7fe9-c3eb-4148-a0de-c3c4c6efdd1d",
      "name": "Get Current File SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        80
      ],
      "credentials": {
        "githubApi": {
          "id": "JixM5IplKjCgdpw3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare GitHub commit payload\nconst newData = $('Merge by Product').item.json.redditInsights;\nconst currentFile = $input.first().json;\n\n// Merge with existing data if file exists\nlet existingData = {};\nif (currentFile.content) {\n  try {\n    existingData = JSON.parse(Buffer.from(currentFile.content, 'base64').toString('utf-8'));\n  } catch(e) { existingData = {}; }\n}\n\n// Deep merge: new data takes priority, keeps old slugs not touched this run\nconst merged = { ...existingData, ...newData };\n\nconst content = Buffer.from(JSON.stringify(merged, null, 2)).toString('base64');\nconst sha = currentFile.sha || undefined;\n\nreturn [{\n  json: {\n    content,\n    sha,\n    hasChanges: JSON.stringify(merged) !== JSON.stringify(existingData)\n  }\n}];"
      },
      "id": "62bc3dab-97ac-4e26-85d9-d9109ce30c63",
      "name": "Prepare Commit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.hasChanges }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "3287337a-b44f-4c80-b4ee-1e601cb1d6e2",
      "name": "Has Changes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        80
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/nc262/budgettechpicks/contents/src/data/reddit-insights.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"chore: update Reddit insights [automated]\",\n  \"content\": \"{{ $json.content }}\",\n  \"sha\": \"{{ $json.sha }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi"
      },
      "id": "6612687c-f61b-41da-98a6-1748a6971ce7",
      "name": "Commit to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "credentials": {
        "githubApi": {
          "id": "JixM5IplKjCgdpw3",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst ts = new Date().toISOString();\nconsole.log('[TotalTechPicks] Reddit insights updated at ' + ts);\nreturn { json: { status: 'success', updatedAt: ts, product: item.productName || 'unknown' } };"
      },
      "id": "06991787-40da-42bd-9148-1f9e9646d5f0",
      "name": "Log Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        80
      ]
    },
    {
      "id": "extract-comments-node",
      "name": "Extract Comments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        300
      ],
      "parameters": {
        "jsCode": "const post = $('Filter Posts').item.json;\nconst resp = $input.item.json;\nconst comments = (resp?.data || [])\n  .filter(c => c && typeof c.body === 'string' && c.body.length > 20 && c.body !== '[deleted]' && c.body !== '[removed]')\n  .sort((a, b) => (b.score || 0) - (a.score || 0))\n  .slice(0, 12)\n  .map(c => '(' + (c.score || 0) + ' pts) ' + c.body.replace(/\\s+/g, ' ').slice(0, 400));\nconst commentText = comments.join('\\n');\n\nconst prompt = 'You are analyzing real Reddit feedback about the product \"' + post.productName + '\".\\n\\n' +\n  'Post title: ' + post.postTitle + '\\n' +\n  'Subreddit: r/' + post.subreddit + ' (' + post.postScore + ' upvotes, ' + post.numComments + ' comments)\\n\\n' +\n  'Top comments:\\n' + (commentText || '(no comments available)') + '\\n\\n' +\n  'Based ONLY on what these commenters actually said, return valid JSON with fields: ' +\n  'summary (1-2 sentences describing what real users think), ' +\n  'pros (array of strings, max 4, only points actually mentioned), ' +\n  'cons (array of strings, max 3, only points actually mentioned), ' +\n  'sentiment (\"positive\"|\"neutral\"|\"negative\"), ' +\n  'key_insights (array of up to 3 specific points users made), ' +\n  'recommended_by_users (boolean), ' +\n  'relevant (boolean — true ONLY if the comments are genuinely about this specific product; false if they mostly discuss other products). ' +\n  'Do not invent details that are not in the comments.';\n\nconst ollamaPayload = JSON.stringify({ model: 'llama3.2:3b', prompt, stream: false, format: 'json' });\n\nreturn { json: {\n  productName: post.productName,\n  productSlug: post.productSlug,\n  postTitle: post.postTitle,\n  permalink: post.permalink,\n  subreddit: post.subreddit,\n  postScore: post.postScore,\n  numComments: post.numComments,\n  commentCount: comments.length,\n  commentText: commentText.slice(0, 3000),\n  ollamaPayload\n}};",
        "mode": "runOnceForEachItem"
      }
    },
    {
      "id": "extract-products",
      "name": "Extract Product Mentions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        200
      ],
      "parameters": {
        "jsCode": "let items = [];\ntry { items = $('Extract Comments').all(); } catch (e) { items = []; }\nconst text = items.map(i => (i.json.postTitle || '') + ' ' + (i.json.commentText || '')).join(' ');\nconst found = [...text.matchAll(/\\bB0[A-Z0-9]{8}\\b/g)].map(m => m[0]);\nconst slugByAsin = {};\nfor (const i of items) {\n  for (const m of ((i.json.postTitle || '') + ' ' + (i.json.commentText || '')).matchAll(/\\bB0[A-Z0-9]{8}\\b/g)) {\n    if (!slugByAsin[m[0]]) slugByAsin[m[0]] = i.json.productSlug || '';\n  }\n}\nconst unique = [...new Set(found)];\nif (unique.length === 0) return [];\nreturn unique.slice(0, 5).map(asin => ({ json: { asin, articleSlug: slugByAsin[asin] || '', source: 'reddit-mention' } }));",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "fetch-amazon-product",
      "name": "Fetch Amazon Product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://www.amazon.com/dp/' + $json.asin }}",
        "options": {
          "timeout": 12000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/124.0.0.0 Safari/537.36"
            }
          ]
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "parse-product-data",
      "name": "Parse Product Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        200
      ],
      "parameters": {
        "jsCode": "const out = [];\nconst inputs = $input.all();\nfor (let i = 0; i < inputs.length; i++) {\n  let up = {};\n  try { up = $('Extract Product Mentions').itemMatching(i).json; } catch (e) { continue; }\n  const html = inputs[i].json.data ?? '';\n  if (typeof html !== 'string' || html.length < 5000) continue;\n  const titleMatch = html.match(/<title[^>]*>([^<]+)<\\/title>/i);\n  const rawTitle = titleMatch ? titleMatch[1].replace(/ - Amazon\\.com.*$/, '').replace(/Amazon\\.com.*?:\\s*/, '').trim() : '';\n  if (!rawTitle || rawTitle.length < 5) continue;\n  const ogMatch = html.match(/<meta[^>]+property=[\"']og:image[\"'][^>]+content=[\"']([^\"']+)[\"']/i)\n               || html.match(/<meta[^>]+content=[\"']([^\"']+)[\"'][^>]+property=[\"']og:image[\"']/i);\n  const imageUrl = ogMatch ? ogMatch[1].split('?')[0] : null;\n  const priceMatch = html.match(/class=\"a-price-whole\"[^>]*>([0-9,]+)/);\n  const price = priceMatch ? '$' + priceMatch[1].replace(',', '') : null;\n  out.push({ json: { asin: up.asin, name: rawTitle, imageUrl, price, articleSlug: up.articleSlug, addedAt: new Date().toISOString() } });\n}\nreturn out;",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "get-auto-products-sha",
      "name": "Get Auto Products SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/nc262/budgettechpicks/contents/src/data/auto-products.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi"
      },
      "credentials": {
        "githubApi": {
          "id": "JixM5IplKjCgdpw3",
          "name": "GitHub account"
        }
      }
    },
    {
      "id": "merge-auto-products",
      "name": "Merge & Commit Auto Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        200
      ],
      "parameters": {
        "jsCode": "const gh = $input.first().json;\nconst sha = gh.sha;\nlet existing = [];\ntry { existing = JSON.parse(Buffer.from(gh.content, 'base64').toString('utf-8')); } catch (e) {}\nif (!Array.isArray(existing)) existing = [];\n\nlet newProducts = [];\ntry { newProducts = $('Parse Product Data').all().map(i => i.json); } catch (e) {}\nconst have = new Set(existing.map(p => p.asin));\nconst toAdd = newProducts.filter(p => p.asin && !have.has(p.asin));\nif (toAdd.length === 0) return [];\n\nexisting.push(...toAdd);\nreturn [{ json: { content: JSON.stringify(existing, null, 2), sha, added: toAdd.length } }];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "commit-auto-products",
      "name": "Commit Auto Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        200
      ],
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/nc262/budgettechpicks/contents/src/data/auto-products.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'chore: add ' + $json.added + ' community-discovered product(s) [automated]', content: Buffer.from($json.content).toString('base64'), sha: $json.sha, branch: 'master' }) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi"
      },
      "credentials": {
        "githubApi": {
          "id": "JixM5IplKjCgdpw3",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Every 8 Hours": {
      "main": [
        [
          {
            "node": "Product Keyword List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Keyword List": {
      "main": [
        [
          {
            "node": "Reddit Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Search": {
      "main": [
        [
          {
            "node": "Filter Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Posts": {
      "main": [
        [
          {
            "node": "Fetch Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Comments": {
      "main": [
        [
          {
            "node": "Extract Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Insights": {
      "main": [
        [
          {
            "node": "Collect All Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Insights": {
      "main": [
        [
          {
            "node": "Merge by Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge by Product": {
      "main": [
        [
          {
            "node": "Get Current File SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current File SHA": {
      "main": [
        [
          {
            "node": "Prepare Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Commit": {
      "main": [
        [
          {
            "node": "Has Changes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Changes?": {
      "main": [
        [
          {
            "node": "Commit to GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit to GitHub": {
      "main": [
        [
          {
            "node": "Log Run",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Product Mentions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Comments": {
      "main": [
        [
          {
            "node": "Ollama Extract Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Product Mentions": {
      "main": [
        [
          {
            "node": "Fetch Amazon Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Amazon Product": {
      "main": [
        [
          {
            "node": "Parse Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Product Data": {
      "main": [
        [
          {
            "node": "Get Auto Products SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Auto Products SHA": {
      "main": [
        [
          {
            "node": "Merge & Commit Auto Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Commit Auto Products": {
      "main": [
        [
          {
            "node": "Commit Auto Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Extract Insights": {
      "main": [
        [
          {
            "node": "Parse Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "active": true
}