automation/weekly-sales-velocity.json
{
  "name": "Weekly Sales Velocity",
  "nodes": [
    {
      "id": "01-schedule",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * 0"
            }
          ]
        }
      }
    },
    {
      "id": "02-run",
      "name": "Run Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:7799/run/velocity",
        "options": {
          "timeout": 1800000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "03-log",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "jsCode": "const out = $input.first().json;\nconst ok = out.code === 0;\nconsole.log('[velocity] code=' + out.code + ' ' + (out.seconds || '?') + 's');\nreturn [{ json: { ok, code: out.code, seconds: out.seconds, tail: (out.stdout || '').split('\\n').slice(-10).join('\\n') } }];"
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Run Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Job": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}